{% extends 'shared/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

  <body>
    {% block content %}
    <h1>Build Library</h1>


    <form action="{% url 'libraryapp:libraries' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title">
      </fieldset>
      <fieldset>
          <label for="author">Address: </label>
          <input id="address" type="text" name="address">
      </fieldset>
      <input type="submit" value="Add It" />
    </form>
    {% endblock %}
  </body>
</html>